body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  line-height: 1.5;
  color: blue;
}
img
{max-width: 50%;  
  height: auto;}

.container {
  max-width: 960px;
  margin: 0 auto;
  color: black;
}
